
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo12.jpeg" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	  <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
      
    ></script>
    
    <link rel="stylesheet" href="/css/login&signin.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" defer></script>
    <script src="/js/index.js" defer></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js" defer></script> 
    <title>Register - Laespela</title>
</head>
<body>
  <nav class="navi"> 
    <!--menu-bar----------------------------------------->
    <div class="navigation">
      <!--logo------------>
      <a href="/" class="logo"><img src="/images/logo12.png"></a>
      <!--menu-icon------------->
      <div class="toggle"></div>
      <!--menu----------------->
      <ul style="margin-left: 30px;" class="menu">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/store/allproduct" class="nav-link">Store</a>
        </li>

      </ul>
      <!--right-menu----------->
      <div class="right-menu">
        <a style="margin-left: 30px; font-size: 12px;" href="/login" class="user">
          Login
        </a>
        <span style="color: #6e6d6d;">|</span>
        <a style="margin-left: 8px; font-size: 12px;" href="/register" class="user">
          Register
        <a href="javascript:void(0);" class="search">
         <i class="fas fa-search"></i>
       </a>
        <a href="/cart/totalproducts">
          <i class="fas fa-shopping-cart">
            <span class="num-cart-product"><%= amountcart %></span>
          </i>
        </a>
      </div>
      </div>
    </nav>
    <!--search-bar----------------------------------->
   
  <form action="/store/search" method="POST">
    <div class="search-bar">
       
      <!--search-input------->
      <div class="search-input">
      <input type="text" placeholder="Search For Product By Name" name="productsearch" />
      <button class="btnsearch" type="submit">
        <i class="fas fa-search"></i>
      </button>
      <!--cancel-btn--->
      <a href="javascript:void(0);" class="search-cancel">
        <i class="fas fa-times"></i>
      </a>
    
    </div>
    </div>
  </form>
  <div class="formlgrs">
    <div class="row">
      <div class="col-7">
        <!-- <img class="imglogin" src="/images/account2.png" alt=""> -->
      </div>
    
      <div class="col-5">
        <div class="wrapper">
          <div style="margin-bottom: -45px;">
            <h3 style="margin-top: -20px;">Register</h3>
          </div>
          <form action="/register" method="POST">
          <div class="login is-active">
            <div class="form-element">
              <span><i class="fas fa-user"></i></span><input type="text" name="username" placeholder="username" required/>
            </div>
            <div class="form-element">
              <span><i class="fas fa-envelope"></i></span><input type="email" name="email" placeholder="email" required/>
            </div>
            <div class="form-element">
              <span><i class="fa fa-lock"></i></span><input type="password" name="password" placeholder="password" id="txtPassword" required/>
            </div>
            <button style="margin-bottom: 20px;" class="btn-login purchase">register</button>
            <p style="margin-top: -15px; margin-bottom: 20px; color: black; font-size: 10px; letter-spacing: 1px; margin-left: 20px;">Your already have an account <a style="color: blue" class="account" href="/login">Login</a> </p>
          </div>
        </form>
        </div>
    </div>
   </div>
  </div>
  <!-- Footer -->
  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h3>EXTRAS</h3>
          <a href="#">Brands</a>
          <a href="#">Gift Certificates</a>
          <a href="#">Specials</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>INFORMATION</h3>
          <a href="#">About Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Contact Us</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>MY PROFILE</h3>
          <a href="#">FB : Sedtawut chalothornnarumit</a>
          <a href="#">IG : Aoystwr</a>
          <a href="#">Twitter : Aoystwr</a>
          <a href="#">LineID : aoybcc</a>
        </div>
        <div class="footer-center">
          <h3>CONTACT US</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
            123 Aoy House, Aoy street, Bangkok
          </div>
          <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
            aoy35085@hotmail.com
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
            095-291-1766
          </div>
          <div>
            <span>
              <i class="far fa-paper-plane"></i>
            </span>
            Aoy City, Bangkok
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>

</body>
<script>
  function Validate() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
</html>