.alert .inner {
  display: block;
  padding: 6px;
  border-radius: 3px;
}

.alert .inner,.alert .close {
  color: rgb(88,88,88);
}

.alert input {
  display: none;
}

.alert input:checked ~ * {
  animation-name: dismiss,hide;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0s,100ms;
}

.alert.error .inner {
  border: 1px solid rgb(238,211,215);
  background-color: rgb(242,222,222);
}

.alert.error .inner,.alert.error .close {
  color: rgb(185,74,72);
}

.alert.success .inner {
  border: 1px solid rgb(214,233,198);
  background-color: rgb(223,240,216);
}

.alert.success .inner,.alert.success .close {
  color: rgb(70,136,71);
}

.alert.info .inner {
  border: 1px solid rgb(188,232,241);
  background-color: rgb(217,237,247);
}

.alert.info .inner,.alert.info .close {
  color: rgb(58,135,173);
}

.alert.warning .inner {
  border: 1px solid rgb(251,238,213);
  background-color: rgb(252,248,227);
}

.alert.warning .inner,.alert.warning .close {
  color: rgb(192,152,83);
}

.logo img{
    /* width: 50%; */
    height: 30px;
}

.nav-item .nav-link{
    color: black;
}
.ac {
  margin-left: 30px;
}

@media (max-width: 1114px) {
  .aimg {
    margin-left: -10px;
  }
}
@media (max-width: 1246px) {
  .ac {
    margin-left: 10px;
  }
}


.nav-item .active{
    color: #8C7741;
}
.imgpro{
    max-width: 100px;
    max-height: 100px;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 99;
}

.box{
    width: 500px;
    height: 40px;
    font-size: 12px;
}

.breadcrumb-item a{
    color: #8C7741;
}

.nav-item a:hover{
    color: #8C7741;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 11.5rem;
        padding: 0;
        
        
    }
    .navbar-toggler{
        background-color: #646463;
        
    }
}
    
.navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
    .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
    }
}

@media (max-width: 1532px) {
    .box{
        width: 420px;
    }
}
@media (max-width: 1284px) {
    .box{
        width: 330px;
    }
}

@media (max-width: 548px) {
    .box{
        width: 300px;
    }
}

@media (max-width: 348px) {
    .box{
        width: 250px;
    }
}


.filepond--credits {
    display: none;
  }


.dropbtn {
    background-color: black;
    color: #8C7741;
    padding: 14px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    transition: 0.5s all;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    font-size: 12px;
    transition: 0.5s all;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  
  .fa-caret-down{
    color: gray;
  }
  
  .dropdown-content a:hover {
    color: #8C7741;
    background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    transition: 0.5s all;
    display: block;
  }
  
  .dropdown:hover .dropbtn {
  
    background-color: black;
  }

  .avatar{
    border: 1px solid rgb(107, 106, 106);
    background-color:  #b9ac88;
    border-radius: 0%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    height: 20px;
    left: 0;
    overflow: hidden;
    border-radius: 40px;
    top: 0;
    width: 20px;
    margin-right: 0px;
    display: block;
    height: auto;
    width: 20px;
  }
  
  .avatar img{
    display: block;
    height: auto;
    width: 100%;
  }
/* 
  .avatar span{
    margin-top: -2px;
    position: absolute;
    font-size: 13px;
    padding: 2px 4px;
     color: white;
    
  } */

  .text{
    color: #8C7741; 
    font-size: 13px; padding: 5px 10px;
  }

  .text:hover{
    color: red; 
    transition: 0.6s all;
  }

  .sidebar li .submenu{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    padding-left: 1rem; 
    padding-right: 1rem;
  }

.logo-wrap {
  display: block;
  position: relative;
  width: 30%;
  float: left; 
  margin-bottom: -20px;
  margin-left: 20px;
  margin-top: 10px;
}

  .logo-wrap .logo2 {
    width: 70px;
    float: left;
    height: 70px;
    border: 2px solid rgb(214, 213, 213);
    background-color:  #b9ac88;
    box-shadow: 0 1px 2px rgba(124, 123, 123, 0.2);
    border-radius: 50%;
    position: relative;
    -webkit-transition: .3s margin ease;
    -o-transition: .3s margin ease;
    transition: .3s margin ease;
    margin: 0 auto 50px 10px;
   }
  .logo-wrap .logo2 {
      margin: 0 auto 50px -5px; 
    }
    .logo-wrap .logo2 span {
      position: absolute;
      color: #fff;
      font-size: 1.5rem;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
     }
     .logo-wrap .logo {
      width: 50px;
      float: left;
      height: 50px;
      border: 1px solid rgb(248, 246, 246);
      background-color:  #b9ac88;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
      border-radius: 50%;
      position: relative;
      -webkit-transition: .3s margin ease;
      -o-transition: .3s margin ease;
      transition: .3s margin ease;
      margin: 0 auto 50px 10px;
     }
    .logo-wrap .logo {
        margin: 0 auto 50px 20px; 
      }
  .logo-wrap .logo span {
      position: absolute;
      color: #fff;
      font-size: 1.5rem;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
     }
  .logo-wrap .logo-text {
    
    position: absolute;
    top: 1px;
    font-size: 26px;
    margin-left: 10px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden; 
  }
   .logo-wrap .logo-text {
      opacity: 1;
      visibility: visible; 
    }
    .logo-text2{
      position: absolute;
      font-size: 8px;
      margin-top: -5px;
      margin-left: 2px;
    }

    .logo-wrap1 {
      display: block;
      position: relative;
      border: 1px solid rgb(170, 169, 169);
    background-color:  #b9ac88;
    height: 20px;
    left: 0;
    overflow: hidden;
    border-radius: 40px;
    top: 0;
    width: 20px;
    }
    .logo-wrap1 .logo {
      width: 20px;
      float: left;
      height: 20px;
      border-radius: 50%;
      position: relative;
      -webkit-transition: .3s margin ease;
      -o-transition: .3s margin ease;
      transition: .3s margin ease;
      margin: 0 auto 50px 5px;
     }
    .logo-wrap1 .logo {
        margin: 0 auto 50px -1px; 
      }
  .logo-wrap1 .logo span {
      position: absolute;
      color: #fff;
      font-size: 0.8rem;
      top: 44%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
     }


/* Product Section */
thead {
  color: black;
  background:white;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle;
}

tr th:first-child,
tr td:first-child {
  text-align: left;
}
 
.media img {
  height: 70px;
  width: 70px;
}

.media p {
  font-weight: 400;
  margin: 0;
}

.media p.title {
  font-weight: 600;
}

.title3{
  font-size: 12px
}


