.logo img{
    /* width: 50%; */
    height: 30px;
}

.nav-item .nav-link{
    color: black;
}

.nav-item .active{
    color: #8C7741;
}
.imgpro{
    max-width: 100px;
    max-height: 100px;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 99;
}

.box{
    width: 500px;
    height: 40px;
    font-size: 12px;
}

.breadcrumb-item a{
    color: #8C7741;
}

.nav-item a:hover{
    color: #8C7741;
}


@media (max-width: 767.98px) {
    .sidebar {
        top: 11.5rem;
        padding: 0;
        
    }
    .navbar-toggler{
        background-color: #646463;
        
    }
}
    
.navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
    .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
    }
}

@media (max-width: 1532px) {
    .box{
        width: 420px;
    }
}
@media (max-width: 1284px) {
    .box{
        width: 330px;
    }
}

@media (max-width: 548px) {
    .box{
        width: 300px;
    }
}

@media (max-width: 348px) {
    .box{
        width: 250px;
    }
}


.filepond--credits {
    display: none;
  }
