@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
    --white: #fff;
    --black: #222;
    --pink: #f60091;
    --grey: #444;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #ffd800;
    --green: #59b210;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
  }
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    box-sizing: border-box;
  }
  
  
  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
  }

  /* body {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    z-index: -1;
  } */


  .alert .inner {
    display: block;
    padding: 6px;
    border-radius: 3px;
  }
  
  .alert .inner,.alert .close {
    color: rgb(88,88,88);
  }
  
  .alert input {
    display: none;
  }
  
  .alert input:checked ~ * {
    animation-name: dismiss,hide;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0s,100ms;
  }
  
  .alert.error .inner {
    border: 1px solid rgb(238,211,215);
    background-color: rgb(242,222,222);
  }
  
  .alert.error .inner,.alert.error .close {
    color: rgb(185,74,72);
  }
  
  .alert.success .inner {
    border: 1px solid rgb(214,233,198);
    background-color: rgb(223,240,216);
  }
  
  .alert.success .inner,.alert.success .close {
    color: rgb(70,136,71);
  }
  
  .alert.info .inner {
    border: 1px solid rgb(188,232,241);
    background-color: rgb(217,237,247);
  }
  
  .alert.info .inner,.alert.info .close {
    color: rgb(58,135,173);
  }
  
  .alert.warning .inner {
    border: 1px solid rgb(251,238,213);
    background-color: rgb(252,248,227);
  }
  
  .alert.warning .inner,.alert.warning .close {
    color: rgb(192,152,83);
  }

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 5rem;
  }
}

 
  
  /* Header */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: #ffffff;
}

.navi{
  z-index: 1000;
  padding: 5px;
  background-color: black;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    width:100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    z-index: 100;
}

.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1500;
  background-color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}
.logo img{
    /* width: 50%; */
    margin-top: 6px;
    height: 30px;
}
.menu{
  margin-left: 0%;
  margin-right: -6%;
    display: flex;
}
.menu li{
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}
.menu li a{
    color: #8C7741;
}
.right-menu a{
  margin: 0px 10px;
  font-size: 1.5rem;
  color: #8C7741;
}
.nav-link::after{
content: '';
display: block;
width: 0;
height: 2px;
background-color: #c7c1b2;
transition: width .3s;
}
.nav-link:hover::after{
width: 100%;
transition: width .3s;
}

.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover{
  color: #c7c1b2;
  transition: all ease 0.3s;
}
.sale-lable{
    width:38px;
    height: 17px;
    background-color: #f76b6a;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}
.sale-lable:after{
    content: '';
    width:0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #f76b6a;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}

.fa-shopping-cart{
    color: #8C7741;
    position: relative;
}
.num-cart-product{
    position: absolute;
    top: -13px;
    right: -13px;
    width:18px;
    height: 18px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color:#D9D2C1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.toggle{
  display: none;
}
@media(max-width:1010px){

  .nav-link:hover::after{
    width: 0px;
    transition: none;
  }
  nav{
      position: relative;
  }
  .navigation{
    
      height: 100px;
  }
  .fix-nav{
      height: 80px;
  }
  .menu{
      position: absolute;
      top: 110px;
      left: 70px;
      background-color: #ffffff;
      border-bottom: 4px solid #8C7741;
      width: 100%;
      padding: 0px;
      margin: 0px;
      z-index: 102;
      flex-direction: column;
      display: none;

  }
  .menu2{
    position: absolute;
    top: 110px;
    left: -23px;
    background-color: #ffffff;
    border-bottom: 4px solid #8C7741;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 102;
    flex-direction: column;
    display: none;

}
  .fix-nav .menu{
      top: 80px;
  }
  .menu li{
      width:100%;
      margin: 0px;
      padding: 0px;
  }
  .navigation .menu li a{
      width:100%;
      height: 50px;
      display: flex;
      align-items: center;
      margin: 0px;
      padding: 25px;
      border: 1px solid rgba(0,0,0,0.03);
  }
  .sale-lable{
      display: none;
  }
  .toggle{
      color: white;
      display: block;
  }
  .toggle:before{
      content: '\f0c9';
      font-family: fontAwesome;
      line-height: 30px;
      z-index: 1;
      cursor: pointer;
  }
  .toggle.active:before{
      content: '\f00d';
  }
  .navigation.active .menu{
      display: block;
      padding: auto;
  }
  .full-slider-box,
  .banner-box{
      height: 45vh;
  }
  .f-slider-text span,
  .banner-text span{
      font-size: 0.9rem;
  }
  .f-slider-text strong,
  .banner-text strong{
      font-size: 2rem;
      line-height: 40px;
  }
  .search-input{
      height: 60px;
  }
  .search-input input,
  .search-cancel{
      font-size: 1.4rem;
  }
  .sale-box{
      height: 200px;
  }
}
@media(max-width:600px){


  .iconres{
    display: none;

  }

  .item .content p{
    max-width: 400px;
  }


  .navigation{
      padding: 10px;
  }

}

@media (max-width: 448px) {
  .toggle{
    margin-left: -70px;
  }
  
}
@media (max-width: 386px) {
  .toggle{
    margin-left: -50px;
  }
  
}

/* <!--search-bar-----------------------------------> */

.btnsearch{
  color: #c5a75b;
  border: white;
  background-color: black;
  margin-right: 30px;
  font-size: 14px;
  transition: all 0.7s;
}

.btnsearch:hover{
  border: white;
  background-color: black;
  color: #c7c1b2;
  margin-right: 30px;
  font-size: 14px;
}

.box-error{
  margin: auto;
  justify-content: center;
  align-items: center;
  max-width: 480px;
}

/* .error{
  margin-left: 50px;
} */
.search-bar{
    width:100%;
    height: 300px;
    background-color: black;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0,0,0,0.1);
    z-index: 101;
    animation: search 0.3s;
}

.search-input{
    width:90%;
    border-bottom: 1px solid #c5a75b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}
.search-input input:focus{
  color: white;
}
.search-bar input{
  background-color: black;
    width:100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}
.search-cancel{
    color: #c5a75b;
    font-size: 2rem;
    padding-right: 40px;
}
.search-bar{
    display: none;
}
.search-bar-active{
    display: flex;
}
@keyframes search{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0px;
    }
}

  .amountcart{
    color: #FFF5EE;

  }
   
  

  body {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    z-index: -1;
  }
  
  
  img {
    max-width: 100%;
    max-height: 100%;
  }

  .user .avatar{
    border: 1px solid rgb(73, 73, 73);
    background-color:  #b9ac88;
    border-radius: 0%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    height: 20px;
    left: 0;
    overflow: hidden;
    border-radius: 40px;
    top: 10;
    margin-bottom: -6px;
    width: 20px;
    margin-left: 160px;
    margin-right: -5px;
  }
  
  .user .avatar img{
    display: block;
    height: auto;
    width: 100%;
  }


/*homepage*/
.showcase
{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  position: relative;
  right: 0;
  width: 100%;
  min-height: 85vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;

}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.text
{
  position: relative;
  z-index: 10;
}
.text span
{
  font-size: 0.8em;
  font-weight: 200;
  color: #fff;
  line-height: 2em;
  text-transform: uppercase;
}
.text h2
{
  font-size: 3em;
  font-weight: 400;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 0.8em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  background-color: rgb(180, 179, 179);
  letter-spacing: 4px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

  /* ========= Footer ======== */
  .footer {
    background-color: var(--black);
    padding: 6rem 1rem;
    line-height: 3rem;
  }
  
  .footer-center span {
    margin-right: 1rem;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--white);
  }
  
  .footer-center a:link,
  .footer-center a:visited {
    display: block;
    color: var(--grey2);
    font-size: 1.4rem;
    transition: 0.6s;
  }
  
  .footer-center a:hover {
    color: #8C7741;
  }
  
  .footer-center div {
    color: var(--grey2);
    font-size: 1.4rem;
  }
  
  .footer-center h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  @media only screen and (max-width: 998px) {
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }
  
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  @media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .each-product .row{
        text-align: left;
    }
    .each-product .col-2{
        padding: 20px 0;
    }
    .each-product h1{
        font-size: 26px;
        line-height: 22px;
    }
    .cart-info p{
      display: none;

    }
  
  }
  
  .col-2{
    min-width: 500px;
  }
  
  .col-2 img{
    max-width: 100%;
    padding: 60px 0;
    margin-left: 90px;
  }

  .col{
    min-width: -1000px;
  }
  

  .col .imgstory{

    align-items: center;
    max-width: 23%;
    margin-top: -300px;
    margin-bottom: 50px;
    margin-left: 660px;
    padding-left: 50px;  
  }

  .col .imgstory1{
    border-radius: 2px 2px 2px 2px;
    align-items: center;
    max-width: 22%;
    margin-top: -380px;
    margin-bottom: 50px;
    margin-left: 940px;
    padding-left: 100px;  
  }

  .col3{
    margin-left: -850px;
    margin-top: -30px;
    margin-bottom: -70px;
  }

  .col4{
    margin-right: -850px;
    margin-top: 30px;
    margin-bottom: 1px;

  }

  .col h1{
    font-family: 'Dancing Script', cursive;
    color: #6D5A1C;
    font-size: 30px;
    line-height: 60px;
    margin-top: 50px;
    margin-right: 500px;
  }

  .col h6{
    align-items: center;
    margin-left: 29px;
    color: #CCCCCC;
  }
  
  .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  .form-container{
    background: white;
    border: blueviolet;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgb(0,0,0,0.1);
    overflow: hidden;
  }
  
  .form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    
  }
  
  .form-btn{
    display: inline-block;
  }
  
  .form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
  }
  form .btn{
    width: 10%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  
  form .btn:focus{
    outline: none;
  }
  
  #login{
    left: -300px;
  }
  
  #register{
    left: 0px;
  }
  
  form a{
    font-size:  12px;
  }
  
  
  .bg1{
    width: 340%;
    top: -100%;
  }

  .titleallpr2{
    margin-top: 50px;
    margin-right:900px;
    margin-bottom: -40px;
  }

  .sortty{
    margin-left: -380px;
    margin-top: 80px;
  }

  .top{
    margin-top: 100px;
    box-sizing: border-box;
  }
  
  .arrival-heading strong{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
  }
  .arrival-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
  }
  .arrival-heading strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
  }
  .arrival-heading p{
    color: #808080;
    margin: 10px;
    margin-bottom: 0px;
    font-size: 0.9rem;
  }
  
  .arrival-heading1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
  }
  
  .arrival-heading1 strong{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
  }
  
  .arrival-heading1 strong{
    color: black;
    background-color: white;
    font-weight: 500;
  }

  .product-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .product-container a{
    margin-bottom: 10px;
    text-decoration:underline,

  }

  .product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 3px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
    transition: all 0.4s;
  }

  .product-box1{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 100px;
    margin: 100px;
  }

  .product-img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
  }

  .product-img1{
    width:200px;
    height: 210px;
    margin-right: 180px;
    margin-top: -80px;
    cursor: pointer;
    position: relative;
  }

  .product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  .product-img1 img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  .product-name{
    margin-top: 10px;
    color: black;

  }



@media(max-width:390px){
  .nameuser{
    display: none;
  }

} 
  .product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
    margin-bottom: 10px;
  }
  .p-name{
    color: #727272;
  }
  .p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .product-box img{
    transition: all 0.4s;
  }
  .product-box:hover{

    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  }
  .product-box:hover img {
    transform: scale(1.2);
  }
 

  .new-arrival{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.align-top {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: end;
}

.column-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.column-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.column-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.column-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.column-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.column-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.column-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.column-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.column-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.column-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.column-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.column-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 48rem) {
  .column-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 62rem) {
  .column-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 75rem) {
  .column-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .grid > [class*=column-] {
    margin: 0;
    max-width: 100%;
  }

  .column-xs-1 {
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  .column-xs-2 {
    grid-column-start: span 2;
    grid-column-end: span 2;
  }

  .column-xs-3 {
    grid-column-start: span 3;
    grid-column-end: span 3;
  }

  .column-xs-4 {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }

  .column-xs-5 {
    grid-column-start: span 5;
    grid-column-end: span 5;
  }

  .column-xs-6 {
    grid-column-start: span 6;
    grid-column-end: span 6;
  }

  .column-xs-7 {
    grid-column-start: span 7;
    grid-column-end: span 7;
  }

  .column-xs-8 {
    grid-column-start: span 8;
    grid-column-end: span 8;
  }

  .column-xs-9 {
    grid-column-start: span 9;
    grid-column-end: span 9;
  }

  .column-xs-10 {
    grid-column-start: span 10;
    grid-column-end: span 10;
  }

  .column-xs-11 {
    grid-column-start: span 11;
    grid-column-end: span 11;
  }

  .column-xs-12 {
    grid-column-start: span 12;
    grid-column-end: span 12;
  }

  @media (min-width: 48rem) {
    .column-sm-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-sm-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-sm-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-sm-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-sm-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-sm-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-sm-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-sm-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-sm-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-sm-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-sm-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-sm-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
  @media (min-width: 62rem) {
    .column-md-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-md-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-md-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-md-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-md-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-md-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-md-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-md-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-md-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-md-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-md-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-md-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
  @media (min-width: 75rem) {
    .column-lg-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-lg-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-lg-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-lg-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-lg-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-lg-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-lg-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-lg-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-lg-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-lg-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-lg-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-lg-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
}

.container2 {
  margin: auto; 
  padding: 0 1rem;
  max-width: 111rem;
  width: 100%;
}

.breadcrumb-item a {
  
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
}
.breadcrumb-item a:hover {
  text-decoration: underline;
  color: #333;
}
.breadcrumb-item .active {
  color: rgb(5, 5, 5);
}

.breadcrumb-list {
  background-color: rgb(243, 241, 241);
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 30px;
  margin-bottom: -20px;
  list-style: none;
  border: none;
  text-shadow: none;
  
}
.breadcrumb-list li {
  font-size: 1.6rem;
  letter-spacing: 0.085rem;
  text-transform: uppercase;
}

.breadcrumb-item.active {
  color: rgb(5, 5, 5);
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 0.5rem;
  color: #888;
}

/*Allproduct*/

.page-btn{
  margin: 0 auto 80px;
}

.page-btn span{
  display: inline-block;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  margin-left: 0px;
  line-height: 30px;

}

.text-center{
  margin-bottom: 70px;
}

/* modal */

.modal {
  font-family: 'Oswald', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid rgb(252, 250, 250);
  border-radius: 10px;
  z-index: 9999;
  background-color: white;
  width: 500px;
  height: 450px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(175, 173, 173);
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.advance input{
  margin-top: 5px;
}

.btn3{
  font-size: 17px;
  border: black solid 0px;
  display: inline-block;
  background: rgb(202, 179, 134);
  padding: 8px 20px;
  margin: 5px 0;
  transition: all 0.7s;
}

.btn3:hover{
  box-shadow: 0 0 12px rgba(22, 22, 22, 2.7) inset;
  
}

.btn4{
  color: rgb(2, 2, 2);
  font-size: 14px;
  border: rgb(134, 133, 133) solid 0px;
  display: inline-block;
  background: rgb(202, 179, 134);
  padding: 3px 20px;
  margin: 10px 6px;
  transition: all 0.7s;
}


.btn4:hover{
  background: rgb(207, 176, 114);
  
}

.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row3:after {
  content: "";
  display: table;
  clear: both;
}

.filter{
  border: rgb(119, 117, 117) 1px solid;
  font-size: 15px;
  padding: 5px 10px;
  margin-right: 10px;
  
}

.clear{
  margin-left: 5px;
  color: red; font-size: 11px; position: absolute; margin-top: -9px;
  text-decoration: underline;
}

.clear:hover{
  color: #8C7741;
  transition: all 0.5s;
}


.dropbtn {
  background-color: black;
  color: #8C7741;
  padding: 14px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  transition: 0.5s all;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 12px;
  transition: 0.5s all;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.fa-caret-down{
  color: gray;
}

.dropdown-content a:hover {
  background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  transition: 0.5s all;
  display: block;
}

.dropdown:hover .dropbtn {

  background-color: black;
}
.avatar{
  border: 1px solid rgb(73, 73, 73);
  background-color:  #b9ac88;
  border-radius: 0%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  height: 20px;
  left: 0;
  overflow: hidden;
  border-radius: 40px;
  top: 10;
  margin-bottom: -6px;
  width: 20px;
  margin-left: 160px;
  margin-right: -5px;
}

.avatar img{
  display: block;
  height: auto;
  width: 100%;
}


.avatar1{
  position: absolute;
  border: 1px solid rgb(73, 73, 73);
  background-color:  #b9ac88;
  border-radius: 0%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  height: 20px;
  overflow: hidden;
  border-radius: 40px;
  margin-top: 11px;
  margin-bottom: 0px;
  width: 20px;
  margin-left: -20px;
  margin-right: -5px;
}

.avatar1 span{
  position: absolute;
    color: #fff;
    font-size: 1.2rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*heading*/

.topsort{
  margin-left: 400px;
}
.topfilter{
  margin-left: -60px;
}
.toptitle {
  box-sizing: border-box;
}

.tophead{
  margin-left: -130px;
}

.toptitle .row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (max-width: 1408px) {
  .topsort{
    margin-left: 0px;
  }
  .topfilter{
    margin-left: 0px;
  }
  
  .tophead{
    margin-left: 0px;
  }

  .toptitle .row .col-5{
    width: 33.33%;
  }

  .toptitle .row .col-1{
    width: 16.66%;
  }
}
@media (max-width: 544px) {
  
  .toptitle .row .col-5{
    width: 100%;
  }

  .toptitle .row .col-1{
    width: 100%;
  }
}
  
  